section {
    background: #e0dadac9;
    line-height: 31px;
    font-size: 21px;
    text-align: start;
    padding:  0 28px;

}
.back_home a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 21px;
    text-align: start;
    padding: 8px 16px;
}
.read_more {
    width: 100vw;
    place-items: center;
}
.read_more p {
    padding: 36px;
}