.description_wrapper{
    background: #02196c;
    color: #fff;
    padding-top: 30px;
}
.inner_des p {
    text-align: start;
    margin: 0 300px;
}
.mixed_des {
    display: flex;
    justify-content: space-around;
}
.mixed_des img {
    height: 60vh;
    margin: 28px;
}
.mixed_des p {
    margin-top: 120px;
    line-height: 35px;
    font-size: 24px;
}
.mixed_des p span {
    font-style: italic;
    font-weight: 500;
}
.brief_des button {
    padding: 20px;
    background: green;
    color: white;
    font-size: 18px;
    margin-top: 75px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}